 td {
  width: 20rem;
  border:1px solid white;
  border-top: 0;
  border-left: 0;
  border-right:0;
}
table {
  border-collapse: collapse;
  margin-left: 50px;
}
body{
  background-color: black;
}
h1{
  color: white;
  text-align: center;
}